
.form{
    max-width: 720px;
    margin: auto;
    padding: 20px;
}
table{
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #dddddd;
    padding: 10px;
}
.table{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;

}
